name: SIMAPA

on:
    pull_request:
        branches:
            - pipeline

    push:
        branches:
            - pipeline
    
jobs:
    build:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: perpustakaan
                options: >-
                    --health-cmd="mysqladmin ping -h 127.0.0.1"
                    --health-interval=10s
                    --health-timeout=10s
                    --health-retries=5
                ports:
                    - 3306:3306
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '22'
            
            - name: Wait for MySQL
              run: |
                for i in {1..30}; do
                  mysqladmin ping -h 127.0.0.1 -u root -proot && break
                  echo "Attempt $i: Waiting for MySQL..."
                  sleep 2
                done
            
            - name: Install dependencies
              run: npm install
            
            - name: Copy Environment Variables
              run: cp .env.example .env

            - name: Generate Application Key
              run: node ace generate:key

            - name: Run Migrations
              run: node ace migration:run --force

            - name: Run Tests
              run: node ace test --force-exit